* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "Roboto", sans-serif;
  line-height: 1.4;
  letter-spacing: 1px;
  font-weight: 400;
}
.hero-section {
  background-image: url("imgs/bg.jfif");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.text-container {
  color: white;
  max-width: 900px;
  margin: 0 auto;
  padding-top: 350px;
  text-align: center;
}
.text-bg {
  border-radius: 6px;
  transition: 0.5s;
}
.text-bg:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #efff10;
}
.text-bg:hover {
  color: #f9f4f9;
  box-shadow: 0 0 20px #fbfb0b;
  text-shadow: 0 0 5px #ff12c4;
  cursor: pointer;
  transition: 0.5s;
}
.lg-text {
  font-size: 64px;
  font-weight: 400;
}
.black-area {
  background-color: black;
  padding: 40px;
}
.black-area h3 {
  font-size: 48px;
  font-weight: 300;
  color: white;
  text-align: center;
}
.black-area h3 span {
  font-size: 80px;
  font-weight: 400;
}
.work {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  margin: 50px 80px;
}
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  max-width: 320px;
  height: 400px;
  border-radius: 10px;
  box-shadow: 8px 5px 5px rgba(135, 16, 190, 0.5);
  transition: 0.3s ease-in-out;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.3s ease-in-out;
}
.text-part {
  padding: 20px;
}
.text-part h3 {
  font-weight: bold;
  margin-bottom: 10px;
}
.bottom-section {
  display: flex;
}
.about {
  background-color: rgb(163, 6, 177);
}
.contact {
  background-color: rgb(119, 31, 201);
}
.about,
.contact {
  padding: 30px;
}
.about h2,
.contact h2 {
  color: white;
  font-size: 30px;
  margin-bottom: 20px;
  font-weight: 500;
}
.about p,
.contact p {
  color: white;
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: justify;
}
footer {
  background-color: rgb(37, 37, 37);
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
}

.social-icons a i {
  color: rgb(255, 255, 255);
  padding: 0 10px;

  font-size: 18px;
}
.social-icons a i:hover {
  color: rgb(172, 70, 212);
  text-decoration: underline;
}
